# Publish package

name: Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: filter changes
      uses: dorny/paths-filter@v2
      id: changes
      with:
        filters: |
          project:
            - 'waifuVault=csharp-api.csproj'

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet pack
    - name: Publish
      if: steps.changes.outputs.project == 'true'
      run: dotnet nuget push bin/Release/*.nupkg --api-key ${{ secrets.NUGET_API_TOKEN }} --source https://api.nuget.org/v3/index.json
